<app-layout-default class="page--app">
  <ng-template #slot_page let-page>
    <h2>&#64;page--app</h2>
    <p>
      <small>
        <pre>{{ page.cache.data() | json }}</pre>
      </small>
    </p>
    <button
      mat-button
      (click)="
        $auth
          .authenticate({
            email: 'admin@nikolav.rs',
            password: 'admin@nikolav.rs'
          })
          .subscribe()
      "
    >
      auth:login
    </button>
    <button mat-button (click)="$auth.logout().subscribe()">auth:logout</button>
    <p>
      <small>
        <pre>{{ idToken() | async }}</pre>
      </small>
    </p>
  </ng-template>
</app-layout-default>
