<app-layout-default class="page--app">
  <h2>
    &#64;page--app
  </h2>
  <button mat-button
    (click)="$auth.authenticate({email: 'admin@nikolav.rs', password: 'admin@nikolav.rs'}).subscribe()">auth:login</button>
  <button mat-button (click)="$auth.logout().subscribe()">auth:logout</button>
  <p>
    <small>
      <pre>{{ idToken() | async }}</pre>
    </small>
  </p>
  <div>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>


  </div>
</app-layout-default>
