<app-layout-default>
  <section class="page--demo">
    <h2>
      &#64;page--demo
    </h2>
    <div>
      <button mat-button (click)="boxIsActive.toggle()">ok</button>
      <button mat-button (click)="ok()">mail:send</button>
      <button mat-raised-button (click)="$audio.play('demo')">audio:play</button>
    </div>
    <div class="flex justify-center">
      @if(boxIsActive.isActive()) {
      <div @showHide class="w-32 h-32 app-bg-primary rounded-full"></div>
      }
    </div>
  </section>
</app-layout-default>
