@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
@import "tailwindcss/screens";

@layer components {
  .cdk-overlay-dark-backdrop-blured {
    @apply backdrop-blur-sm bg-black/10 transition-opacity;
  }
}
