<app-layout-default>
  <section class="page--index">
    <button mat-raised-button (click)="$lightbox.open([{src: '/lake.jpg'}])">ok</button>
    <button mat-raised-button (click)="toggleFoo.toggle()">toggle</button>
    <button mat-raised-button (click)="fetch0()">fetch0</button>
    <button mat-raised-button
      (click)="$auth.register({email: 'admin@nikolav.rs', password: 'uVU42yLcMCBYZQVYro'})">auth:register</button>
    <button mat-raised-button
      (click)="$auth.authenticate({email: 'admin@nikolav.rs', password: 'uVU42yLcMCBYZQVYro'})">auth:login</button>
    <button mat-raised-button (click)="$auth.logout()">auth:logout</button>
    <button mat-raised-button
      (click)="$auth.profilePatch({foo: $$.idGen(), isAdmin: .5 < $$.Math.random()})">profile:patch</button>
    <button mat-raised-button (click)="$auth.profileReload()">profile:reload</button>
    <button mat-raised-button (click)="logsAdd()">logs:add</button>
    <button mat-raised-button (click)="logsReload()">logs:reload</button>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium nesciunt
      sint quisquam!</p>
    <p>{{ x1 | kebabCase }}</p>
    <pre>{{ toggleFoo.isActive() }}</pre>
    <pre><small>{{ $auth.debug() }}</small></pre>
  </section>
</app-layout-default>
