@import "./app/assets/styles/vars";

@import "./app/assets/styles/base";
@import "./app/assets/styles/reset_baseline";
@import "./app/assets/styles/scrollbars";
@import "./app/assets/styles/reset_custom";

@import "./app/assets/styles/tailwind";

@import "./app/assets/styles/material/mat";
@import "./app/assets/styles/mat_custom";

@import "@fancyapps/ui/dist/fancybox/fancybox.css";
