@use "@angular/material" as mat;
@use "./themes/main" as my-theme;

:root {
  color-scheme: light dark;
  @include mat.theme(
    (
      // color: my-theme.$primary-palette,
      color:
        (
          primary: my-theme.$primary-palette,
          tertiary: my-theme.$tertiary-palette,
          // theme-type: light,
          theme-type: color-scheme
        ),
      // typography: Roboto,
      typography:
        (
          plain-family: Roboto,
          brand-family: "Open Sans",
          // bold-weight: 900,
          // medium-weight: 500,
          // regular-weight: 300
        ),

      density: 0
    )
  );
}
